.outercard{
    display: flex;
    /* margin: 15px; */
    justify-content: space-evenly;
    /* border: 2px solid black; */
  
}
.card{
    width: 300px;
    text-align: center;
    border: none;
   
}
.card-img-top{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #9BA4B4;
    margin: 0px auto;

}
.card-title{
    text-align: center;
}
#headline{
    text-align: center;
    color: black;
}
/* .MoreMaanof{
    padding: 30px 0px;
    background-color: #f9f0d4;
} */
.goodtalks{
    background-color: #394867;
    /* border: 1px solid black; */
    display: flex;
    height: 150px;
    
    color: white;
    justify-content:center;
    align-items: center;
    margin: 50px 0px;
    font-size: 18px;
}
@media (max-width:750px) {
    .outercard{
   flex-direction: column;   
   justify-content: center;     
   align-items: center;   

    }
    .goodtalks{
      
        font-size: 12px;
    }
    
}